<!DOCTYPE html>
<html lang="en">

<head>
    <title>ChatBot Flask App</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/showSignUp">Sign In</a>
                    </li>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">ChatBot Flask App</h3>
        </div>

        <div class="jumbotron">
            <h1>Flitter</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign In</a>
            </p>
        </div>


    </div>
<div class="container">
    <div class="jumbotron">
 <div class="container">
    <div class="jumbotron">
  <h5>Chat History:</h5>
        <p class="lead"></p>

        {% if tweets %}
            {% for tweet, name, response in tweets %}

        <div class="row">
            <div class="col">
                    <div class="card mb-3 text-center bg-success text-white">
                  <div class="card-body">
                    <blockquote class="card-blockquote">
                        <p class="lead" align="left" > <span class="badge badge-dark">bot</span> {{ response }} </p>
                    </blockquote>
                  </div>
                </div>
            </div>
            <div class="col">

            </div>
        </div>


                <div class="row">
            <div class="col">

            </div>
            <div class="col">
                  <div class="card mb-3 text-center bg-primary text-white">
                  <div class="card-body">
                    <blockquote class="card-blockquote">

                     <p class="lead" align="right" > {{ tweet }} <span class="badge badge-dark">{{ name }} </span> </p>
                    </blockquote>
                  </div>
                </div>

            </div>
        </div>
                <!--<div class="card mb-3 text-center bg-success text-white col-9">-->
                  <!--<div class="card-body">-->
                    <!--<blockquote class="card-blockquote">-->
                        <!--<p class="lead" align="left" > <span class="badge badge-dark">bot</span> {{ response }} </p>-->
                    <!--</blockquote>-->
                  <!--</div>-->
                <!--</div>-->

              <!--<div class="card mb-3 text-center bg-primary text-white col-9 mx-auto">-->
                  <!--<div class="card-body">-->
                    <!--<blockquote class="card-blockquote">-->

                     <!--<p class="lead" align="right" > {{ tweet }} <span class="badge badge-dark">{{ name }} </span> </p>-->
                    <!--</blockquote>-->
                  <!--</div>-->
                <!--</div>-->


            {% endfor %}
        {% else %}
        <p class="lead">A chatbot has been born! Create an account and speak with it!</p>
        {% endif %}
</div>
</div>
</div>
</div>

</body>

</html>



