<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ChatBot Flask App</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="static/js/signUp.js"></script>

  </head>

  <body>


    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Twitter Flask App</h3>
      </div>

      <div class="jumbotron">
        <h1>ChatBot </h1>
        <form class="form-signin" method="POST" action="/user">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
      </form>
      </div>

    </div>
  </body>
</html>