{% extends 'base.html' %}
{% block content %}

<form class="form-signin" method="POST" action="/tweets">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Tweet" required autofocus>
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Post</button>
</form>
<h5> The feed:</h5><br>

{% if tweets %}
    {% for tweet, name in tweets %}
            <br>{{ name }} - {{ tweet }}<br>
    {% endfor %}
{% else %}
    You have no tweets yet! Write one today!
{% endif %}
{% endblock %}